.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    
    /* alinea horizontalmente */
    /* justify-items: start; */
    justify-items: center;
    /* auto | start | center | end | strech = valores disponibles para este parametro  */
    /* alinea verticalmente */
    align-items: center;
}

.contenedor .item {
    background: #ff8000;
    justify-self: stretch;
    align-self: end;
}
