.contenedor {
    display: grid;
    grid-gap: 20px;
    height: 700px;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);

    /* alinea Horizontalmente */
    justify-content: space-evenly;
    /* alinea verticalmetne  */
    align-content: space-evenly;
}